{{#if teste}}
a
<div class "alert alert-success">{{sucess_mgs}}</div>
{{/if}}


{{#if k}}
<div class="error">
    <span style="color: red">{{teste}}</span>
</div>
{{/if}}

{{#if error_mgs}}
<div class "alert alert-success">{{error_mgs}}</div>
{{/if}}