<div class="container mt-4">
  <div align="center" class="form-group">
    <h2>Eventos</h2>
  </div>
  <ul class="list-unstyled">
    {{#each evento}}

    <div class="card w-100 mt-2">
      <div class="card-body">
        <h5 class="card-title">Título: {{this.titulo}}</h5>
        <p class="card-text">Descrição: {{this.descricao}}</p>
        <a type="button" class="btn btn-primary btn-sm mt-2" href="/admin/editevento/{{this._id}}">Editar</a>
        <button type="button" class="btn btn-danger btn-sm mt-2">Apagar</button>
      </div>
    </div>

    {{else}}
    <h2>Não há eventos</h2>
    {{/each}}
  </ul>

</div>