<div>
    <h2 align="center">
        <p class="font-weight-bolder mt-4">Portal ADM</p>
    </h2>
    <br />
    <div class="card-group ml-4 mr-4">
        <div class="card">
            <a href="/admin/evento">
                <button type="button" class="btn btn-dark">
                    <!-- Fim do código de cada imagem 
                    <img src="..." class="card-img-top" alt="...">
                    -->
                    <div class="card-body" align="center">
                        <h5 class="card-title">Eventos</h5>
                        <p class="card-text">Espaço para criação e edição de eventos de festa e aniversários do Parque</p>
                    </div>
                </button>
            </a>
        </div>
        <div class="card">
            <a href="/admin/tema">
                <button type="button" class="btn">
                    <!-- Fim do código de cada imagem 
                    <img src="..." class="card-img-top" alt="...">
                    -->
                    <div class="card-body">
                        <h5 class="card-title">Temas</h5>
                        <p class="card-text">Espaço para inseção de temas de festa infantis, tais como Bela adormecida, Capitão América, etc.</p>
                    </div>
                </button>
            </a>
        </div>
        <div class="card">
            <a href="/admin/promo">
                <button type="button" class="btn btn-dark">
                    <!-- Fim do código de cada imagem 
                    <img src="..." class="card-img-top" alt="...">
                    -->
                    <div class="card-body">
                        <h5 class="card-title">Promoções</h5>
                        <p class="card-text">Edição da lista de promoções de segunda a sexta do parque</p>
                    </div>
                </button>
            </a>
        </div>
    </div>
</div>