<div>
    <h2 align="center">
        <p class="font-weight-bolder">Portal ADM</p>
    </h2>
    <br />
    <div>
        <h4>
            Evento:
        </h4>
    </div>
    <div>
        <a href="/admin/addevento"> <button type="button" class="btn btn-success">ADD</button></a>
        <a href="/admin/editevento"> <button type="button" class="btn btn-warning">EDIT</button></a>
        <a href="/admin/addevento"> <button type="button" class="btn btn-danger">DELETAR</button></a>
    </div>
    <div>
        <h4>
            Temas:
        </h4>
    </div>
    <div>
        <button type="button" class="btn btn-success">ADD</button>
        <button type="button" class="btn btn-warning">EDIT</button>
        <button type="button" class="btn btn-danger">DELETAR</button>
    </div>
    <div>
        <h4>
            Promo:
        </h4>
    </div>
    <div>
        <button type="button" class="btn btn-warning">EDIT</button>
    </div>






</div>